@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    /* background-color: aquamarine; */
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 25%;
    background-color: rgb(3,141,126);
    padding: 10px 20px 0px;
}
.header {
    /* background-color: rgb(5, 108, 108); */
    min-height: 150px;
}
.content {
    background-color: white;
    text-align: left;
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    background-color: rgb(3,141,126);
    min-height: 150px;
    text-align: center;
    color: white;
    font-weight: 600;
}

.index-images {
    width: 100%;
    border-radius: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

fieldset {
    border-radius: 1rem;

}

input {
    width: 30%;
}

table {
    width: 80%;
    height: 70%;
}

.contact {
    background-color: white;
    text-align: left;
    min-height: 300px;
    padding: 20px;
}